body {

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70vw;
}

/* ------------- */

.Header {
  /* display: flex; */
}

.Header>h1 {
  color: white;
  margin: 10px 0px;
}

.Nav {
  display: flex;
  justify-content: center;
}

.Nav-link {
  margin: 0px 5px;
}


/* ------------- */

.Main {
  /* color: white; */
  overflow: auto;
}

.Main>h1 {
  color: white;
}

.cat-loading {
  background-color: rgb(216, 101, 101);

  color: white;
  font-size: large;
  border-radius: 10px;
  height: 100%;
}

.cat-loading>img {
  max-width: 300px;
  aspect-ratio: auto;
}

/* ------------- */

.cat-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-card {
  height: 400px;
  width: 300px;
  color: white;
  /* border: white solid 2px; */
  margin: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 10px;

  
  display: flex;
  flex-direction: column;

}

.cat-card-header {
  font-size: 1.6rem;
  font-weight: bold;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
